.header {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: rgb(11, 12, 12);

}

.sun {
    position: absolute;
    color: rgb(255, 255, 255);
    float: right;
    right: 40px;
    margin-top: 30px;

}

.logo {
    position: absolute;
    height: 72px;
    margin-top: 2px;
    right: 48%;
}

.inquiries {
    position: absolute;
    color: white;
    background-color: rgb(192, 14, 14);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    float: left;
    left: 40px;
    margin-top: 15px;
}
.selection-menu{
    position: relative;
    background-color: rgb(196, 197, 196);
    width: 100%;
    height: 25px;
    padding: 10px 0px;
}
p {
    position: absolute;

}