.header {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: rgb(11, 12, 12);

}

.sun {
    position: absolute;
    color: rgb(241, 241, 241);
    float: right;
    right: 40px;
    margin-top: 30px;

}

.logo {
    position: absolute;
    height: 72px;
    margin-top: 2px;
    right: 48%;
}

.inquiries {
    position: absolute;
    color: white;
    background-color: rgb(192, 14, 14);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    float: left;
    left: 40px;
    margin-top: 15px;
}
.selection-menu{
    position: sticky;
    top: 0;
    background-color: rgb(217, 219, 217);
    width: 100%;
    height: 25px;
    padding: 10px 15px;
    text-align: center;
}

.selection-menu a{
    
    color: rgb(12, 12, 12);
    border:50px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    margin-right: 25px;
    font-size: 22px;
   
}
.selection-menu a:hover{
    background-color: rgba(206, 245, 189, 0.753);
}